<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phoneerp.dao.AllotMapper" >
  <resultMap id="BaseResultMap" type="com.phoneerp.bean.Allot" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="in_shop_id" property="inShopId" jdbcType="INTEGER" />
    <result column="out_shop_id" property="outShopId" jdbcType="INTEGER" />
    <result column="operat_time" property="operatTime" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="phone_id" property="phoneId" jdbcType="INTEGER" />
    <result column="imei_no" property="imeiNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, in_shop_id, out_shop_id, operat_time, create_time, phone_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from allot
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from allot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phoneerp.bean.Allot" >
    insert into allot (id, in_shop_id, out_shop_id, 
      operat_time, create_time, phone_id
      )
    values (#{id,jdbcType=INTEGER}, #{inShopId,jdbcType=INTEGER}, #{outShopId,jdbcType=INTEGER}, 
      #{operatTime,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{phoneId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phoneerp.bean.Allot" >
    insert into allot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inShopId != null" >
        in_shop_id,
      </if>
      <if test="outShopId != null" >
        out_shop_id,
      </if>
      <if test="operatTime != null" >
        operat_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="phoneId != null" >
        phone_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inShopId != null" >
        #{inShopId,jdbcType=INTEGER},
      </if>
      <if test="outShopId != null" >
        #{outShopId,jdbcType=INTEGER},
      </if>
      <if test="operatTime != null" >
        #{operatTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneId != null" >
        #{phoneId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phoneerp.bean.Allot" >
    update allot
    <set >
      <if test="inShopId != null" >
        in_shop_id = #{inShopId,jdbcType=INTEGER},
      </if>
      <if test="outShopId != null" >
        out_shop_id = #{outShopId,jdbcType=INTEGER},
      </if>
      <if test="operatTime != null" >
        operat_time = #{operatTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneId != null" >
        phone_id = #{phoneId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phoneerp.bean.Allot" >
    update allot
    set in_shop_id = #{inShopId,jdbcType=INTEGER},
      out_shop_id = #{outShopId,jdbcType=INTEGER},
      operat_time = #{operatTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      phone_id = #{phoneId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select t.*,a.imei_no from allot t 
  	LEFT OUTER JOIN phone a ON t.phone_id = a.id
  	<include refid="conditions" />
  	<if test="startNo != null">
  		limit #{startNo},#{pageSize}
  	</if>
  </select>
  
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(*) from allot t
  	<include refid="conditions" />
  </select>
  
  <sql id="conditions">
  	<trim prefix="where" prefixOverrides="and|or" >
      <if test="allot.inShopId != null" >
        and  t.in_shop_id = #{allot.inShopId}
      </if>
      <if test="allot.outShopId != null" >
        and  t.out_shop_id = #{allot.outShopId}
      </if>
      <if test="allot.startTime != null" >
        and  t.operat_time &gt;= #{allot.startTime}
      </if>
      <if test="allot.endTime != null" >
        and  t.operat_time &lt;= #{allot.endTime}
      </if>
      <if test="imeiNo != null">
      	and  t.phone_id in (
      		select distinct(id) from phone k where k.imeiNo like CONCAT('%',#{imeiNo},'%')
      	)
      </if>
    </trim>
  </sql>
  
</mapper>