<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phoneerp.dao.PhoneMapper" >
  <resultMap id="BaseResultMap" type="com.phoneerp.bean.Phone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imei_no" property="imeiNo" jdbcType="VARCHAR" />
    <result column="color_id" property="colorId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="phone_type" property="phoneType" jdbcType="VARCHAR" />
    <result column="pur_price" property="purPrice" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="current_shop_id" property="currentShopId" jdbcType="INTEGER" />
    <result column="is_sold" property="isSold" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imei_no, color_id, brand_id, phone_type, pur_price, sale_price, model_id, current_shop_id, 
    is_sold, remark, create_time, is_deleted, amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phoneerp.bean.Phone" >
    insert into phone (id, imei_no, color_id, 
      brand_id, phone_type, pur_price, sale_price, 
      model_id, current_shop_id, is_sold, 
      remark, create_time, is_deleted, 
      amount)
    values (#{id,jdbcType=INTEGER}, #{imeiNo,jdbcType=VARCHAR}, #{colorId,jdbcType=INTEGER}, 
      #{brandId,jdbcType=INTEGER}, #{phoneType,jdbcType=VARCHAR}, #{purPrice,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL}, 
      #{modelId,jdbcType=INTEGER}, #{currentShopId,jdbcType=INTEGER}, #{isSold,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.phoneerp.bean.Phone" useGeneratedKeys="true" keyProperty="id">
    insert into phone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imeiNo != null" >
        imei_no,
      </if>
      <if test="colorId != null" >
        color_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="phoneType != null">
      	phone_type,
      </if>
      <if test="purPrice != null" >
        pur_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="currentShopId != null" >
        current_shop_id,
      </if>
      <if test="isSold != null" >
        is_sold,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imeiNo != null" >
        #{imeiNo,jdbcType=VARCHAR},
      </if>
      <if test="colorId != null" >
        #{colorId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="phoneType != null" >
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="purPrice != null" >
        #{purPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="currentShopId != null" >
        #{currentShopId,jdbcType=INTEGER},
      </if>
      <if test="isSold != null" >
        #{isSold,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phoneerp.bean.Phone" >
    update phone
    <set >
      <if test="imeiNo != null" >
        imei_no = #{imeiNo,jdbcType=VARCHAR},
      </if>
      <if test="colorId != null" >
        color_id = #{colorId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="phoneType != null" >
        phone_type = #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="purPrice != null" >
        pur_price = #{purPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="currentShopId != null" >
        current_shop_id = #{currentShopId,jdbcType=INTEGER},
      </if>
      <if test="isSold != null" >
        is_sold = #{isSold,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phoneerp.bean.Phone" >
    update phone
    set imei_no = #{imeiNo,jdbcType=VARCHAR},
      color_id = #{colorId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      phone_type = #{phoneType,jdbcType=VARCHAR},
      pur_price = #{purPrice,jdbcType=DECIMAL},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      model_id = #{modelId,jdbcType=INTEGER},
      current_shop_id = #{currentShopId,jdbcType=INTEGER},
      is_sold = #{isSold,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      amount = #{amount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(*) from phone t 
  	LEFT OUTER JOIN purchase a ON t.id = a.phone_id
	LEFT OUTER JOIN shop b on t.current_shop_id = b.id
	LEFT OUTER JOIN supplier c on a.supplier_id = c.id
	LEFT OUTER JOIN orders d on t.id = d.phone_id
	LEFT OUTER JOIN saler e on d.saler_id=e.id
  	<include refid="conditions" />
  </select>
  
  <sql id="conditions">
  	<trim prefix="where" prefixOverrides="and|or" >
      <if test="searchBean.imeiNo != null and isCheck" >
        and  t.imei_no = #{searchBean.imeiNo}
      </if>
      <if test="searchBean.imeiNo != null and isCheck == null" >
        and  t.imei_no like CONCAT('%',#{searchBean.imeiNo},'%')
      </if>
      <if test="searchBean.supplierId != null" >
        and  c.id = #{searchBean.supplierId}
      </if>
      <if test="searchBean.brandId != null" >
        and  t.brand_id = #{searchBean.brandId}
      </if>
      <if test="searchBean.phoneType != null" >
        and  t.phone_type = #{searchBean.phoneType}
      </if>
      <if test="searchBean.purStartTime != null" >
        and  a.pur_time &gt;= #{searchBean.purStartTime}
      </if>
      <if test="searchBean.purEndTime != null" >
        and  a.pur_time &lt;= #{searchBean.purEndTime}
      </if>
      <if test="searchBean.currentShopId != null" >
        and  t.current_shop_id = #{searchBean.currentShopId}
      </if>
      <if test="searchBean.isSold != null" >
        and  t.is_sold = #{searchBean.isSold}
      </if>
      <if test="searchBean.salerId != null" >
        and  d.saler_id = #{searchBean.salerId}
      </if>
      <if test="searchBean.saleStartTime != null" >
        and  d.order_time &gt;= #{searchBean.saleStartTime}
      </if>
      <if test="searchBean.saleEndTime != null" >
        and  d.order_time &lt;= #{searchBean.saleEndTime}
      </if>
      <if test="searchBean.modelId != null" >
        and  t.model_id = #{searchBean.modelId}
      </if>
      <if test="searchBean.colorId != null" >
        and  t.color_id = #{searchBean.colorId}
      </if>
      <if test="searchBean.purStartPrice != null" >
        and  t.pur_price &gt;= #{searchBean.purStartPrice}
      </if>
      <if test="searchBean.purEndPrice != null" >
        and  t.pur_price &lt;= #{searchBean.purEndPrice}
      </if>
      <if test="searchBean.saleStartPrice != null" >
        and  t.sale_price &gt;= #{searchBean.saleStartPrice}
      </if>
      <if test="searchBean.saleEndPrice != null" >
        and  t.sale_price &lt;= #{searchBean.saleEndPrice}
      </if>
    </trim>
  </sql>
  
  <resultMap type="com.phoneerp.bean.Phone" id="ListResultMap" extends="BaseResultMap">
  	<result column="pur_time" property="purchase.purTime" jdbcType="DATE" />
  	<result column="pur_id" property="purchase.id" jdbcType="INTEGER" />
  	<result column="shop_name" property="shop.shopName" jdbcType="VARCHAR" />
  	<result column="supplier_name" property="supplier.supplierName" jdbcType="VARCHAR" />
  	<result column="sup_id" property="supplier.id" jdbcType="INTEGER" />
  	<result column="bill_price" property="orders.billPrice" jdbcType="DECIMAL" />
  	<result column="orders_id" property="orders.id" jdbcType="INTEGER" />
  	<result column="order_time" property="orders.orderTime" jdbcType="DATE" />
  	<result column="saler_name" property="saler.salerName" jdbcType="VARCHAR" />
  	<result column="saler_id" property="saler.id" jdbcType="INTEGER" />
  </resultMap>
  <select id="getList" parameterType="java.util.Map" resultMap="ListResultMap">
	SELECT
		t.id,
		t.imei_no,
		t.color_id,
		t.brand_id,
		t.phone_type,
		t.pur_price,
		t.sale_price,
		t.model_id,
		t.is_sold,
		t.remark,
		t.amount,
		t.current_shop_id,
		a.pur_time,
		a.id as pur_id,
		b.shop_name,
		c.supplier_name,
		c.id as sup_id,
		d.bill_price,
		d.id as orders_id,
		d.order_time,
		e.saler_name,
		e.id as saler_id
	FROM
		phone t
	LEFT OUTER JOIN purchase a ON t.id = a.phone_id
	LEFT OUTER JOIN shop b on t.current_shop_id = b.id
	LEFT OUTER JOIN supplier c on a.supplier_id = c.id
	LEFT OUTER JOIN orders d on t.id = d.phone_id
	LEFT OUTER JOIN saler e on d.saler_id=e.id
	<include refid="conditions" />
	<if test="startNo != null">
		limit #{startNo},#{pageSize}
	</if>
  </select>
  
  <update id="createTable" parameterType="java.lang.String">
  	CREATE TABLE ${_parameter} ( 
	  `pur_time` varchar(20) DEFAULT NULL,
	  `imei_no` varchar(50) DEFAULT NULL,
	  `color` varchar(20) DEFAULT NULL,
	  `brand` varchar(255) DEFAULT NULL,
	  `model` varchar(255) DEFAULT NULL,
	  `pur_price` varchar(20) DEFAULT NULL,
	  `current_shop` varchar(11) DEFAULT NULL,
	  `phone_type` varchar(255) DEFAULT NULL
	) ENGINE=InnoDB DEFAULT CHARSET=utf8
  </update>
  
  <insert id="insertDatasFromTemp" parameterType="java.lang.String">
  	INSERT INTO phone (
		imei_no,
		color_id,
		brand_id,
		phone_type,
		pur_price,
		model_id,
		current_shop_id,
		is_sold,
		is_deleted,
		amount
	) SELECT
		a.imei_no,
		e.id,
		b.id,
		a.phone_type,
		a.pur_price,
		c.id,
		d.id,
		0,
		0,
		1
	FROM
		${_parameter} a
	LEFT OUTER JOIN brand b ON a.brand = b.brand_name
	LEFT OUTER JOIN model c ON a.model = c.model_name
	LEFT OUTER JOIN shop d on a.current_shop = d.shop_name
	LEFT OUTER JOIN color e on a.color = e.color_name
  </insert>
  
  <insert id="insertPurDatas" parameterType="java.lang.String">
  	INSERT INTO purchase (
		shop_id,
		price,
		phone_id,
		pur_time
	) SELECT
		b.current_shop_id,
		b.pur_price,
		b.id,
		a.pur_time
	FROM
		${_parameter} a
	LEFT OUTER JOIN phone b ON a.imei_no = b.imei_no
  </insert>
  
  <update id="dropTable" parameterType="java.lang.String">
  	drop table ${_parameter}
  </update>
  
  <insert id="insertBatch" parameterType="java.util.Map" >
    insert into ${tableName} (pur_time,imei_no,color,brand,model,pur_price,current_shop,phone_type
      )
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
        ( #{item.purTime,jdbcType=VARCHAR}, #{item.imeiNo,jdbcType=VARCHAR}, #{item.color,jdbcType=VARCHAR}, 
	      #{item.brand,jdbcType=VARCHAR}, #{item.model,jdbcType=VARCHAR}, #{item.purPrice,jdbcType=VARCHAR}, 
	      #{item.currentShop,jdbcType=VARCHAR}, #{item.phoneType,jdbcType=VARCHAR}) 
    </foreach>
  </insert>
  
  <select id="getCountByImeiNo" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(*) from phone where imei_no = ${_parameter}
  </select>
  
  
  
</mapper>