/* 以下定义webkit内核的浏览器滚动条，例如Google Chrome、Opera、360极速浏览器，猎豹浏览器等，搜狗浏览器 */
::-webkit-scrollbar { /* 滚动条整体部分 */
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-button { /* 滚动条两端的按钮 */
    display: none;
}

::-webkit-scrollbar-track { /* 外层轨道 */
    background: #FFFFFF;
}

::-webkit-scrollbar-track-piece { /* 内层轨道，除去滚动条中间部分 */
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb { /* 滚动条里面可以拖动的那部分 */
    background: #CECECE;
    border-radius: 1px;
}

::-webkit-scrollbar-corner { /* 边角 */
    background: #FFFFFF;
}

::-webkit-resizer { /* 定义右下角拖动块的样式 */
    background: #FFFFFF;
}