*{
    margin:0;
    padding:0;
}

li{
    list-style: none;
}

a{
    text-decoration: none!important;
}

span {
    display: block;

}

#main{
    height: 1212px!important;
}

/*gray-bg*/
#gray-bg{
    width:100%;
    height: 120px;
    background: rgb(156, 153, 153);
    margin-bottom:64px;
}

/*content*/
#content{
    width:auto;
    height:auto;
    margin-left:15%;
}
#new-notice{
    float:left;
    margin-bottom:3%;
    display: block!important;
}

#new-notice li{
    width: 33.3%;
    float: left;
    border-radius: 3px;
}

#new-notice h2{
    border-bottom:1px solid #e5e5e5;
    font-size:20px;
    line-height:50px;
    margin:0;
}

#new-notice li .line{
    width:100%;
    height: 127px;
    padding: 29px;
    border-bottom:1px solid #e5e5e5;
}
#new-notice li .line .block{
    width:60px;
    height:70px;
    color:#fff;
    text-align: center;
    background:#8c8c8c;
    float:left;
    margin-right: 16px;
}
#new-notice li .line .block span{
    font-size:30px;
}
#new-notice li .line .block i{
    font-size:12px;
    font-style: normal;
}
#new-notice li .line  p{
    font-weight:bold;
    font-size:18px;
    line-height:30px;
    float:left;
}
#new-notice li .line a{
    width: 93%;
    color: #ccc;
    line-height: 20px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 12px;
    height: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
#menu{
    width:24%;
    height:auto;
    float:left;
}
.menu-bottom,.menu-top{
    width:100%;
    padding:2% 0;
    border:1px solid #e5e5e5;
}
.menu-top{
    height:420px;
}
.menu-top h4{
    line-height:50px;
    font-weight: bold;
    padding:0 10%;
    font-size:20px;
}
.menu-top a{
    width:100%;
    line-height:50px;
    padding:0 10%;
    color:#000;
    display:block;
    font-weight: bold;
    font-size:18px;
}
.menu-top a i{
    color:#ccc;
    font-size:18px;
}
.menu-top a.active,.menu-top a:hover,.menu-top a:visited,.menu-top a:active{
    background:#ccecfa;
    color:#000;
    cursor:pointer;
}
.menu-top .list{
    display:none;
}
.menu-top .list li{
    list-style-image: url(../imgs/about-dian.png);
    list-style-position: inside;
}
.menu-top .list a{
    font-weight: normal;
    font-size:14px;
    text-indent:24px;
}
.menu-bottom{
    margin-top:5%;
    height:100%;
    float:left;
}
.menu-bottom h3{
    font-size:20px;
    width:50%;
    line-height:40px;
    border-bottom:1px solid #00a0e6;
    margin:0;
    padding:0 10%;
    float:left;
}
.menu-bottom .border-bottom,.menu-bottom .border-top{
    width: 50%;
    float: left;
    border-bottom: 1px solid #ccc;
}
.menu-bottom .border-bottom{
    height:41px;
}
.menu-bottom ul{
    width:100%;
    padding:4% 10%;
    margin:0;

}
.menu-bottom ul li a{
    line-height:40px;
    color: #b9b9b9;
    display:inline-block;
}
.menu-bottom ul li span{
    color:#ccc;
    display:inline-block;
}
.menu-bottom ul li a:hover{
    text-decoration: underline!important;
    color:#b9b9b9;
}
.menu-bottom .more{
    width:50%;
    line-height:40px;
    color:#00a0e6;
    border-top:1px solid #00a0e6;
    float:left;
    text-align: center;
    font-size:16px;
}
#content nav{
    clear: both;
    margin:0;
    margin-bottom:3%;
}
.pagination>li:last-child>a, .pagination>li:last-child>span,.pagination>li:first-child>a,.pagination>li:first-child>span{
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius:0!important;
}
.pagination>li>a, .pagination>li>span {
    margin-left:5px!important;
    color:#000!important;
}
.pagination li.active a{
    background:#00a0e6!important;
    border-color:#00a0e6!important;
    color:#fff!important;
}
.pagination li:hover a, .pagination li:hover span{
    color:#fff!important;
    background:#00a0e6!important;
    border-color:#00a0e6!important;
}
/*.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background:#00a0e6!important;
    color:#fff!important;
}*/
#content .content-pagination li{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;
    margin-right:5px;
    border:1px solid #ccc;
}
#content .content-pagination li a{
    color:#000;
}
.content-pagination li:hover{
    background:#00a0e6;
    border:0;
}
.content-pagination li:hover a{
    color:#fff;
}