<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>开始使用layui</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
</head>
<body style="margin:20px 20px 20px 20px">
<button class="layui-btn">
  <i class="layui-icon">&#xe608;</i> 添加
</button> 
<table class="layui-hide" id="test" lay-filter="demo"></table>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:src="@{/layui/layui.js}"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  table.render({
    elem: '#test'
    ,url: '/production/'
    ,request: {
    	pageName: 'currentPage'
    	,limitName: 'pageSize'
    }
    ,cols: [[
      {type:'numbers'}
      ,{type:'checkbox'}
      ,{field:'username', width:100, title: '产品名称'}
      ,{field:'sex', width:100, title: '牌子-中文'}
      ,{field:'city', width:100, title: '牌子-英文'}
      ,{field:'sign', title: '规格', width: 100}
      ,{field:'experience', width:100, title: '原价(HKD)'}
      ,{field:'score', width:130, title: '购买价格(HKD)'}
      ,{field:'classify', width:100, title: '购买地址'}
      ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
    ]]
    ,page: true
    ,data: [{
        "id": "10001"
        ,"username": "杜甫"
        ,"email": "xianxin@layui.com"
        ,"sex": "男"
        ,"city": "浙江杭州"
        ,"sign": "人生恰似一场修行"
        ,"experience": "116"
        ,"ip": "192.168.0.8"
        ,"logins": "108"
        ,"joinTime": "2016-10-14"
      }, {
        "id": "10002"
        ,"username": "李白"
        ,"email": "xianxin@layui.com"
        ,"sex": "男"
        ,"city": "浙江杭州"
        ,"sign": "人生恰似一场修行"
        ,"experience": "12"
        ,"ip": "192.168.0.8"
        ,"logins": "106"
        ,"joinTime": "2016-10-14"
        ,"LAY_CHECKED": true
      }]
    });
  //监听表格复选框选择
  table.on('checkbox(demo)', function(obj){
    console.log(obj)
  });
  //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      layer.msg('ID：'+ data.id + ' 的查看操作');
    } else if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.alert('编辑行：<br />'+ JSON.stringify(data))
    }
  });
});
</script> 
</body>
</html>