<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siping.hrip.portal.user.mapper.LoginMapper">

    <resultMap id="userMap" type="com.siping.domain.portal.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="pwd_hash" property="pwdHash" jdbcType="VARCHAR" />
        <result column="pwd_iterator" property="pwdIterator" jdbcType="INTEGER" />
        <result column="pwd_salt" property="pwdSalt" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" jdbcType="INTEGER" />
        <result column="enabled" property="enabled" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="DATE" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="update_date" property="updateDate" jdbcType="DATE" />
        <result column="update_by" property="updateBy" jdbcType="BIGINT" />   
    </resultMap>
    <sql id="user_Column_List">
        id, username, pwd_hash, pwd_iterator, pwd_salt, user_type, enabled,  DATE_FORMAT(create_date,"%Y-%m-%d %H:%i:%s") create_date,
        create_by ,DATE_FORMAT(update_date,"%Y-%m-%d") update_date, update_by
    </sql>
    
    <!-- 根据username查询账号信息 -->
    <select id="login" resultMap="userMap" parameterType="java.lang.String">
        select
        <include refid="user_Column_List" />
        from users where enabled = '1' and username = #{username, jdbcType=VARCHAR}
    </select>
    
    <!-- 重置密码 -->
    <update id="resetPwd" parameterType="com.siping.domain.portal.entity.User">
        UPDATE users  
        <set>
            <if test="pwdHash != null">
                pwd_hash = #{pwdHash,jdbcType=VARCHAR},
            </if>
            <if test="pwdIterator != null">
                pwd_iterator = #{pwdIterator,jdbcType=INTEGER},
            </if>
            <if test="pwdSalt != null">
                pwd_salt= #{pwdSalt,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                user_type= #{userType,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=TINYINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=TINYINT},
            </if>
            update_date=now()
        </set>
        where 1=1 and username=#{username, jdbcType=VARCHAR}
    </update>
    
</mapper>