<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siping.hrip.portal.user.mapper.UserPersonalMapper" >
  <resultMap id="BaseResultMap" type="com.siping.domain.portal.entity.UserPersonalInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="nationality" property="nationality" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="foreign_name" property="foreignName" jdbcType="VARCHAR" />
    <result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="county" property="county" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="politics_status" property="politicsStatus" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="start_work_year" property="startWorkYear" jdbcType="INTEGER" />
    <result column="resident_city" property="residentCity" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <insert id="addUserPersonalInfo" parameterType="com.siping.domain.portal.entity.UserPersonalInfo" >
    insert into user_personal_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="nationality != null" >
        nationality,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="foreignName != null" >
        foreign_name,
      </if>
      <if test="birthplace != null" >
        birthplace,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="politicsStatus != null" >
        politics_status,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="cellphone != null" >
        cellphone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="startWorkYear != null" >
        start_work_year,
      </if>
      <if test="residentCity != null" >
        resident_city,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      create_date
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null" >
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="foreignName != null" >
        #{foreignName,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="county != null" >
        #{county,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null" >
        #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="startWorkYear != null" >
        #{startWorkYear,jdbcType=DATE},
      </if>
      <if test="residentCity != null" >
        #{residentCity,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
        now()
    </trim>
  </insert>
  
  <update id="updatePersonal" parameterType="com.siping.domain.portal.entity.UserPersonalInfo">
     update user_personal_info
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null" >
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="foreignName != null" >
        foreign_name = #{foreignName,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        birthplace = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null" >
        politics_status = #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="startWorkYear != null" >
        start_work_year = #{startWorkYear,jdbcType=INTEGER},
      </if>
      <if test="residentCity != null" >
        resident_city = #{residentCity,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      update_date = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
    </update>
    
    <sql id="conditions" >
        <trim prefix="where" prefixOverrides="and|or" >
            a.user_type = 3
          <if test="id != null and id != ''" >
            and a.id = #{id}
          </if>
          <if test="username != null and id != ''" >
            and a.username = #{username}
          </if>
          <if test="nationality != null and id != ''" >
            and b.nationality = #{nationality}
          </if>
          <if test="nickname != null and id != ''" >
            and b.nickname = #{nickname}
          </if>
          <if test="realname != null and id != ''" >
            and b.realname = LIKE CONCAT(CONCAT('%',
                #{realname}), '%')
          </if>
          <if test="foreignName != null and id != ''" >
            and b.foreign_name = #{foreignName}
          </if>
          <if test="birthplace != null and id != ''" >
            and b.birthplace = #{birthplace}
          </if>
          <if test="birthday != null and id != ''" >
            and b.birthday = #{birthday}
          </if>
          <if test="province != null and id != ''" >
            and b.province = #{province}
          </if>
          <if test="city != null and id != ''" >
            and b.city = #{city}
          </if>
          <if test="county != null and id != ''" >
            and b.county = #{county}
          </if>
          <if test="address != null and id != ''" >
            and b.address = #{address}
          </if>
          <if test="sex != null and id != ''" >
            and b.sex = #{sex}
          </if>
          <if test="nation != null and id != ''" >
            and b.nation = #{nation}
          </if>
          <if test="politicsStatus != null and id != ''" >
            and b.politics_status = #{politicsStatus}
          </if>
          <if test="maritalStatus != null and id != ''" >
            and b.marital_status = #{maritalStatus}
          </if>
          <if test="telephone != null and id != ''" >
            and b.telephone = #{telephone}
          </if>
          <if test="cellphone != null and id != ''" >
            and b.cellphone = #{cellphone}
          </if>
          <if test="fax != null and id != ''" >
            and b.fax = #{fax}
          </if>
          <if test="email != null and id != ''" >
            and b.email = #{email}
          </if>
          <if test="website != null and id != ''" >
            and b.website = #{website}
          </if>
          <if test="startWorkYear != null and id != ''" >
            and b.start_work_year = #{startWorkYear}
          </if>
          <if test="residentCity != null and id != ''" >
            and b.resident_city = #{residentCity}
          </if>
        </trim>
      </sql>
    
    <resultMap id="UsersResultMap" type="com.siping.domain.portal.entity.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="realname" property="personalInfo.realname" jdbcType="VARCHAR"/>
        <result column="telephone" property="personalInfo.telephone" jdbcType="VARCHAR"/>
        <result column="cellphone" property="personalInfo.cellphone" jdbcType="VARCHAR"/>
        <result column="sex" property="personalInfo.sex" jdbcType="BIT"/>
        <result column="birthday" property="personalInfo.birthday" jdbcType="DATE"/>
        <result column="start_work_year" property="personalInfo.startWorkYear" jdbcType="INTEGER"/>
        <result column="address" property="personalInfo.address" jdbcType="VARCHAR"/>
        <result column="pro_name" property="personalInfo.provinceArea.name" jdbcType="VARCHAR"/>
        <result column="city_name" property="personalInfo.cityArea.name" jdbcType="VARCHAR"/>
        <result column="county_name" property="personalInfo.countyArea.name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getListByPage" parameterType="java.util.Map" resultMap="UsersResultMap">
        SELECT
            a.id,
            a.username,
            a.email,
            b.realname,
            b.cellphone,
            b.telephone,
            b.sex,
            b.birthday,
            b.start_work_year,
            b.address,
            pr.province AS pro_name,
            ci.city AS city_name,
            co.county AS county_name
        FROM
            users AS a
        LEFT OUTER JOIN user_personal_info AS b ON b.username = a.username
        LEFT OUTER JOIN siping_province pr ON b.province = pr.province_id
        LEFT OUTER JOIN siping_city ci ON b.city = ci.city_id
        LEFT OUTER JOIN siping_county co ON b.county = co.county_id 
        <include refid="conditions"/>
        <if test="startNo != null" >
          LIMIT #{startNo},#{pageSize}
        </if>
    </select>
    
    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
        SELECT
            count(*)
        FROM
            users AS a
        LEFT OUTER JOIN user_personal_info AS b ON b.username = a.username
        <include refid="conditions"/>
    </select>
    
    <sql id="Base_Column_List" >
        a.username, a.email, b.id, b.nationality, b.nickname, b.realname, b.foreign_name, b.birthplace, b.birthday, 
        b.province, b.city, b.county, b.address, b.sex, b.nation, b.politics_status, b.marital_status, b.telephone, 
        b.cellphone, b.fax, b.email, b.website, b.start_work_year, b.resident_city, b.create_date, b.update_date, 
        b.update_by
    </sql>
    <select id="getUserpersonal" parameterType="java.lang.String" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from users AS a LEFT OUTER JOIN user_personal_info AS b ON b.username = a.username
        WHERE a.username = #{_parameter}
    </select>
    
</mapper>